:root {
    --background: #f9fafb;
    ---accent-primary: #4c5b6c;
    --secondary: #d1d5db;
    --highlight: #e0f2fe;
    --highlight-secondary: #3b82f6;
    --text: #1f2937;
    --muted: #6b7280;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /*border: 1px solid black;*/
}

body,
html {
    height: auto;
    color: var(--text);
    scroll-behavior: smooth;
    scroll-padding: 45px;
}

a {
    text-decoration: none;
    color: var(--highlight);
}



/* Header styles */

header {
    background-color: var(---accent-primary);
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0,0.5);
}

header .logo-container .logo-text {
    color: var(--highlight);
    font-size: 2.2rem;
}

header .list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.list-container a {
    border-radius: 3px;
    border-bottom: 0 solid var(--highlight-secondary);
    transition: border-bottom 0.3s ease;
}

.list-container a:hover {
    border-bottom: 0.2rem solid var(--highlight-secondary);
    transition: border-bottom 0.2s ease;
}

.logo-container .logo-text:hover {
    color: var(--highlight-secondary);
    transition: color 0.2s ease;
}


/* Main, Home section container styles */

main {
    background-color: var(--background);
    height: auto;
}

main #home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#home-container .border-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
}

.catch-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-shadow: 0 0 3px rgba(0, 0, 0,0.5);
}

.catch-container .name-header {
    font-size: 3.8rem;
}

.catch-container .span-ln {
    color: var(--highlight-secondary);
}

#home-container .catch-container .button-container .project-button {
    display: flex;
    flex-direction: row;
    background-color: var(---accent-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0,0.5);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.catch-container .button-container div {
    position: relative;
    flex: 1;
    width: 100%;
}


#home-container .socials-container ul {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
}

#home-container .socials-container .social-media-icon {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.5);
}


#home-container .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

#home-container .profile-container .img-profile {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.5);
}



/* Main, About section container styles */

main #about-container {
    height: 100vh;
    background-color: var(--text);
    color: var(--background);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
    padding: 2.5rem;
    text-shadow: 0 0 3px rgba(0, 0, 0,0.5);
}

main #about-container .language-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: fit-content;
}

.front-end,
.back-end {
    background-color: var(---accent-primary);
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0,0.5);
}

.front-end h1,
.back-end h1 {
    font-size: 1rem;
}

.language {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--muted);
    border: 1px solid var(--text);
    border-radius: 5px;
    font-size: 0.8rem;
}

#about-container .about-me-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}



/* Main, Project section container styles */

main #projects-container {
    background-color: var(--background);
    color: var(--text);
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0,0.5);
}

.section-title {
    font-size: 2rem;
}

.section-sub {
    font-size: 1.2rem;
    font-weight: bold;
}

main #projects-container .portfolio-grid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-grow: 1;
}

.project {
    background-color: var(--text);
    color: var(--background);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.5);

}

.project-thumb img {
    width: 100%;
    border-radius: 5px;
}



/* Footer container styles */

#contact-container {
    height: 10rem;
    padding: 2rem;
    background-color: var(---accent-primary);
    color: var(--background);
    font-weight: bold;
    display: flex;
    justify-content: center;
}





